@model IEnumerable<ShoeServiceModel>

@{
    ViewBag.Title = "My Shoes";
    ViewBag.AllowShoeEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any shoes yet!</h2>
}

<partial name="_ShoesPartial" model="@Model"/> 