@using Microsoft.AspNetCore.Identity;
@using ShoesStore.Data.Models;
@using ShoesStore.Data.Infrastructure; 
@using ShoesStore.Services.Sellers; 
@using static ShoesStore.WebConstants; 
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ISellerService  Sellers 

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))

    {

        var userId = User.Id();
        var userIsSeller = Sellers.IsSeller(userId);
        var userIsAdmin = User.IsAdmin();


        @if (userIsSeller && !userIsAdmin)
         {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Shoes" asp-action="Mine">My Shoes</a>
            </li>
         }

        else if(!userIsAdmin)
        {
             <li class="nav-item">
                 <a class="nav-link text-dark" asp-area="" asp-controller="Sellers" asp-action="Become">Become Seller</a>
              </li>
        }

       
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
